template(name="gameList")
  div.chat.well
    unless currentUser
      +splash
    else
      h2 Open games
      hr.star-well
      each openGames
        h4.text-lowercase
          a.white(href="{{pathFor route='game.page'}}") #{name}
          span.small.text-lowercase created {{formatDate submitted}}
      else
        p No open games at the moment, create one at the right.
      br
      h3 Active games
      hr.star-well
      each activeGames
        h4.text-lowercase
          a.white(href="{{pathFor route='game.page'}}") #{name}
          span.small.text-lowercase created {{formatDate submitted}}
      else
        p No active games at the moment
      br
      h3 Finished games
      hr.star-well
      each endedGames  
        h4.text-lowercase
          a.white(href="{{pathFor route='game.page'}}") #{name}
          span.small.text-lowercase won by #{winner} {{formatDate submitted}}

template(name="gameItemPostForm")
  h2 Create game
  hr.star-well
  if gameCreated
    with gameCreated
      | You have an open game named 
      a(href="{{pathFor route='game.page'}}") #{name}
  else
    form.main(role="form")
      div.form-group
        input.form-control.input-lg(name="name", type="text", value="", placeholder="The name of your game")
      br
      div.control-group
        div.controls
          input.btn.btn-primary.btn-lg(type="submit", value="Create game")
