template(name="gameList")
  unless currentUser
    +splash
  else
    h3 Open games
    each openGames
      h1
        a(href="{{pathFor route='game.page'}}") #{name}
    else
      | No open games at the moment, create one at the right.
    h3 Active games
    each activeGames
      h1
        a(href="{{pathFor route='game.page'}}") #{name}
    else
      | No active games at the moment
    h3 Finished games
    each endedGames  
      h4
        | #{name}
        span.small.text-lowercase won by #{author} {{formatDate submitted}}

template(name="gameItemPostForm")
  if gameCreated
    with gameCreated
      | You have an open game named
      a(href="{{pathFor route='game.page'}}") #{name}
  else
    form.main
      div.control-group
        label.control-label(for="name") URL
        div.controls
          input(name="name", type="text", value="", placeholder="Game name")
      br
      div.control-group
        div.controls
          input.btn.btn-primary(type="submit", value="Submit")
