template(name="cards")
  h3 #{gameState} #{timer}
  hr.star-well
  if showCards
    h5
      | Your hand
    div.hand
      each availableCards
        +card
    with player
      h5.player-status
        img(class="robot-icon", src="/robots/robot_#{robotId}.png")
        | Your robot:
        each lives
          span.glyphicon(class=this, data-toggle="tooltip" data-placement="top" data-container="body" title="You lose a live when falling off the board, into a hole or when receiving your 10th damage. At 0 lives you will lose the game.")
        br
        span.small(style="color: #fff")
          | #{dmgPercentage}% damaged
        span.small(style="color: #fff")
          | next checkpoint:
        span.next-checkpoint
          if headingForFinish
            img(class="finish" src='/finish.png' data-toggle="tooltip" data-placement="bottom" data-container="body" title="Good! On your way to the finish line!")
          else
            .checkpoint(data-toggle="tooltip" data-placement="bottom" data-container="body" title="Your next checkpoint")
              = nextCheckpoint
    div.playing
      if poweredDown
        p Your robot is powered down
        .small Click the play cards button to stay powered down, any other action will cancel the power down. 
      else
        each chosenCards
          +card
    if showPlayButton
      if poweredDown
        a.btn.btn-warning.powerBtn #{ownPowerStateName}
        | &nbsp;
        a.btn.btn-success.playBtn play cards
      else
        a.btn.powerBtn(class= ownPowerStateStyle, data-toggle='tooltip' data-placement='left' title="A player with a damaged robot may choose to power down. A power down announced this turn takes effect on the next turn. At the beginning of the turn when your robot powers down, all your damage is removed. You can't play any cards while powered down.") 
          | #{ownPowerStateName}
        | &nbsp;
        a.btn.btn-success.playBtn.disabled play cards
  else
    with player
      +playerStatus

  each otherPlayers
    +playerStatus

template(name="playerStatus")
  h5.player-status
    img(class="robot-icon", src="/robots/robot_#{robotId}.png")
    | #{playerName}:
    each lives
      span.glyphicon(class=this, data-toggle="tooltip" data-placement="top" data-container="body" title="You lose a live when falling off the board, into a hole or when receiving your 10th damage. At 0 lives you will lose the game.")
    = power
    br
    span.small(style="color: #fff")
      | #{dmgPercentage}% damaged
    span.small(style="color: #fff")
      | next checkpoint:
    span.next-checkpoint
      if headingForFinish
        img(class="finish" src='/finish.png' data-toggle="tooltip" data-placement="bottom" data-container="body" title="Hurry up! #{this.name} is on the way to the finish line.")
      else
        .checkpoint(data-toggle="tooltip" data-placement="bottom" data-container="body" title="#{this.name}'s next checkpoint")
          = nextCheckpoint
  div.small
    each cardsHtml
      +card

template(name="card")
  if emptyCard
    .card(class="empty #{selected}")
      if isSelected
        .cardTimer #{timer}
  else if coveredCard
    .card(class="covered")
  else if dmgCard
    .card(class="damage", data-toggle='tooltip' data-placement='bottom' title="This card can't be used because you have received damage. You can consider a power down to remove all damage.")
  else
    .card(class="#{type} #{class} #{cardId}" data-toggle='tooltip' title='#{title}')
      span.priority= priority
      if this.locked
        img.locked(src="/damage-token.png", width="35", data-container="body" data-toggle='tooltip' data-placement='top' title="This card is locked in place because you have received 5 or more damage. You should probably power down before you die at 10 damage.")
