template(name="cards")
  h3 #{gameState} #{timer}
  hr.star-well
  if showCards
    h5
      | Your hand
    div.hand
      each availableCards
        +card
    h5
      | Playing
    div.playing
      if poweredDown
        p Your robot is powered down
        .small Click the play cards button to stay powered down, any other action will cancel the power down. 
      else
        each chosenCards
          +card
        each lockedCardsHtml
          +card
    if showPlayButton
      if poweredDown
        a.btn.btn-warning.powerBtn #{ownPowerStateName}
        | &nbsp;
        a.btn.btn-success.playBtn play cards
      else
        a.btn.powerBtn(class= ownPowerStateStyle, data-toggle='tooltip' data-placement='left' title="A player with a damaged robot may choose to power down. A power down announced this turn takes effect on the next turn. At the beginning of the turn when your robot powers down, all your damage is removed. You can't play any cards while powered down.") 
          | #{ownPowerStateName}
        | &nbsp;
        a.btn.btn-success.playBtn.disabled play cards
  else
    each players
      h5.player-status
        img(class="robot-icon", src="/robots/robot_#{robotId}.png")
        | #{name}: 
        = status
        div
          each playedCardsHtml
            +card
          if showPowerState
            p Power down played
template(name="card")
  if emptyCard
    .card(class="empty #{selected}" data-toggle='tooltip' title='#{title}')
  else
    .card(class="#{type} #{class} #{cardId}" data-toggle='tooltip' title='#{title}')
      span= priority
