template(name="cards")
  h3 #{gameState} #{timer}
  hr.star-well
  if showCards
    h5
      | Your hand
    each availableCards
      +card
    h5
      | Playing
    each chosenCards
      +card
    if showPlayButton
      a.btn.btn-success.playBtn.disabled play cards
  else
    each players
      h5 
        | #{name}: 
        each playedCardsHtml
          +card

template(name="card")
  span.card.btn.btn-primary(class="#{class} #{cardId}" data-toggle='tooltip' title='#{title}')
    if steps
      |#{steps}x
    i.fa(class="#{icon}")  #{priority}
