template(name="board")
  h3
    | Game: #{name}

  #board
    span(style="#{positionBlue}")
      img#r1(src='/robot_1_500.png', style='#{directionBlue}')
    span(style="#{positionRed}")
      img#r2(src='/robot_2_500.png', style='#{directionRed}')
