template(name="board")
  p Game: #{name}

  #board
    span(style="color: blue; #{positionBlue}", class="glyphicon glyphicon-arrow-#{directionBlue}")
    span(style="color: red; #{positionRed}", class="glyphicon glyphicon-arrow-#{directionRed}")
