template(name="board")
  if gameEnded
    .well
      h3 Game over
      hr.star-well
      h4 #{game.winner} has won the game!
  else
    #board
      each tiles
        each this
          span.tile(style="background-image: url('#{this.path}')" data-toggle="tooltip" data-placement="left" data-container="body" title= description)
            if this.finish
              img.board-item(src='/finish.png', data-toggle="tooltip" data-placement="bottom" data-container="body" title="Make sure to hit the checkpoints before finishing and win the game!")
            if this.start
              img.board-item(src='/start.png', data-toggle="tooltip" data-placement="bottom" data-container="body" title="Spawnpoint, you will respawn here if you die.")
            if this.checkpoint1
              .checkpoint(class= checkpoint1class, data-toggle="tooltip" data-placement="bottom" data-container="body" title="This is the first checkpoint, go here first!")
                |1
            if this.checkpoint2
              .checkpoint(class= checkpoint2class, data-toggle="tooltip" data-placement="bottom" data-container="body" title="This is the second checkpoint.")
                |2
      br
      div#r1(style= positionBlue)
        img(src='/robot_1_500.png', style= directionBlue)
      div#r2(style="#{positionYellow}")
        img(src='/robot_2_500.png', style= directionYellow)
  .myRobot
    unless gameEnded
      img#robot(src='/robot_#{getRobotId}_500.png') 
      i.fa.fa-arrow-left  This is your robot
    if inGame
      a.btn.btn-danger.cancel Leave game
    | Lives: #{player.lives}, Damage: #{player.damage}
