template(name="board")
  h3
    | Game: #{game.name} 
    if inGame
      a.btn.btn-danger.cancel Leave game
      img#robot(src='/robot_#{getRobotId}_500.png') 
      i.fa.fa-arrow-left  this is your robot

  if gameEnded
    .alert.alert-info.end-message
      | Game ended! #{game.winner} has won the game!
  else
    #board
      each tiles
        each this
          span.tile(style="background-image: url('#{this.path}')")
            if this.finish
              img.board-item(src='/finish.png')
            if this.start
              img.board-item(src='/start.png')
      br
      div(style= positionBlue)
        img(src='/robot_1_500.png', style= directionBlue)
      div(style="#{positionYellow}")
        img(src='/robot_2_500.png', style= directionYellow)
